<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Роли</th>
                <th>Детали</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <a th:href="@{/admin/user/{id}(id=${user.getId()})}">Перейти</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>

    <form th:action="@{/auth/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>